// @import url("./tippo.scss");

.test {
  border: 1px solid blue;
}

.button-container {
  width: 100px;
  height: 40px;
}

.content {
  margin: 0 auto;
  width: 700px;
  height: 100%;
}

#id-1 {
  width: 500px;
  height: 400px;
}
