html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

h2 {
  width: 5rem;
  margin: 0 auto;
}

.demo-header {
  background-color: #d2d7dd;
  padding: 0.75rem;
}

#demo {
  margin: 0 auto;
  height: 100%;
}

#examples {
  padding-top: 5rem;
  background-color: #f3f3f3;
}

#tippo-the-hippo {
  width: 300px;
  margin: 10rem auto 4rem;
  background-image: url("../static/tippo_the_hippo.png");
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

#chat-box-target {
  width: 200px;
  height: 0;
}

h1 {
  display: block;
  padding: 2rem;
  margin: 0 auto;
  width: 10rem;
}

.intro {
  margin: 1rem auto 0;
  max-width: 800px;
}

.intro p {
  margin: 0.5rem 0;
}

.btn {
  display: block;
  padding: 1rem 0;
  width: 15rem;
}

.btn-2 {
  display: block;
  padding: 1rem 0;
  width: 7.5rem;
}

.btn-container {
  flex-direction: column;
  background-color: #dedede;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: 2px solid #b4c0ca;
    border-radius: 2px;
  }
  button:hover {
    background-color: #d6e2ed;
  }
  button:active {
    background-color: #d2d9df;
  }
}

.btn-container p {
  margin-top: 0;
}

.sub-container {
  display: flex;
}

.btn-grid {
  max-width: 1200px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 12rem);
  grid-gap: 2rem;
  padding: 0 1rem;
  margin: 0 auto;
}
