:root {
  --background-default-1: #ebeba9;
  --background-default-2: #bfbf61;
  --border-default-1: #73734a;
  --border-default-2: #a3a345;
  --background-blue-1: #8fb3ea;
  --background-blue-2: #5c92e6;
  --border-blue-1: #2361be;
  --border-blue-2: #3976d5;
  --background-gray-1: #dfdfdf;
  --background-gray-2: #9f9f9f;
  --border-gray-1: #5d5d5d;
  --border-gray-2: #7d7b7b;
  --background-green-1: #9cd795;
  --background-green-2: #53ad46;
  --border-green-1: #308425;
  --border-green-2: #37982b;
  --background-purple-1: #b89fe9;
  --background-purple-2: #9171d1;
  --border-purple-1: #5e35b1;
  --border-purple-2: #7961b1;
}

.tippo-popup {
  position: absolute;

  .popover-main {
    border-radius: 3px;
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.75rem;
    width: 14rem;
  }

  .popover-content {
    white-space: pre-line;
  }

  .popover-close {
    border-radius: 4px;
    background-color: var(--background-purple-2);
    border: 2px solid var(--border-purple-2);
    color: white;
    cursor: pointer;
    display: block;
    margin: 1.5rem auto 0rem;
    padding: 0.5rem 0;
    width: 50%;
  }
  .popover-close:hover {
    filter: brightness(0.94);
  }

  /*********************************
  * ARROW POSITIONS
  */
  .popover-arrow {
    // background-color: var(--background-purple-1);
    height: 16px;
    width: 16px;
    position: absolute;
    transform: rotate(45deg);
  }

  .p-arr-left {
    left: 16px;
  }
  .p-arr-center {
    left: calc(50% - 12px);
  }
  .p-arr-right {
    right: 16px;
  }

  /*********************************
  * COLORS
  */

  .p-theme-body-default {
    background-color: var(--background-default-1);
    border: 2px solid var(--border-default-1);
  }

  .p-theme-button-default {
    background-color: var(--background-default-2);
    border: 2px solid var(--border-default-2);
  }
  .p-theme-body-blue {
    background-color: var(--background-blue-1);
    border: 2px solid var(--border-blue-1);
  }

  .p-theme-button-blue {
    background-color: var(--background-blue-2);
    border: 2px solid var(--border-blue-2);
  }

  .p-theme-body-gray {
    background-color: var(--background-gray-1);
    border: 2px solid var(--border-gray-1);
  }

  .p-theme-button-gray {
    background-color: var(--background-gray-2);
    border: 2px solid var(--border-gray-2);
  }

  .p-theme-body-green {
    background-color: var(--background-green-1);
    border: 2px solid var(--border-green-1);
  }

  .p-theme-button-green {
    background-color: var(--background-green-2);
    border: 2px solid var(--border-green-2);
  }

  .p-theme-body-purple {
    background-color: var(--background-purple-1);
    border: 2px solid var(--border-purple-1);
  }

  .p-theme-button-purple {
    background-color: var(--background-purple-2);
    border: 2px solid var(--border-purple-2);
  }

  /*********************************
  * ARROW POSITIONS
  */

  // arrow positions override border styles above
  .p-arr-top {
    border-bottom: none;
    border-right: none;
    top: -9px;
  }

  .p-arr-bot {
    border-top: none;
    border-left: none;
    bottom: -9px;
  }

  .p-grow .p-arr-top {
    top: -10px;
  }
  .p-grow .p-arr-bot {
    bottom: -10px;
  }
}

/*********************************
* ANIMATIONS
*/

.p-fade-in {
  animation: p-fade-in 1s;
  animation-iteration-count: 1;
}

@keyframes p-fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-pop-away {
  animation-iteration-count: 1;
}
.p-above.p-pop-away {
  animation: p-pop-away-down-up 1s;
}
.p-below.p-pop-away {
  animation: p-pop-away-up-down 1s;
}

@keyframes p-pop-away-down-up {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  10% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes p-pop-away-up-down {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  10% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.p-grow {
  animation: grow infinite 3s ease-in-out;
}

@keyframes grow {
  0% {
    transform: translateY(-1px) scale(1);
  }
  10% {
    transform: translateY(-1px) scale(1);
  }
  50% {
    transform: translateY(0px) scale(1.02);
  }
  90% {
    transform: translateY(-1px) scale(1);
  }
  100% {
    transform: translateY(-1px) scale(1);
  }
}
